[Desktop Entry]
Name=Bridges
Exec=/usr/games/bridges
Icon=applications-games
Terminal=false
Type=Application
Categories=Game;
StartupNotify=true
X-MB-SingleInstance=true
Comment=Play Bridges.
