[Desktop Entry]
Name=Samegame
Exec=/usr/games/samegame
Icon=applications-games
Terminal=false
Type=Application
Categories=Game;
StartupNotify=true
X-MB-SingleInstance=true
Comment=Play Samegame.
