[Desktop Entry]
Name=Slant
Exec=/usr/games/slant
Icon=applications-games
Terminal=false
Type=Application
Categories=Game;
StartupNotify=true
X-MB-SingleInstance=true
Comment=Play Slant.
